src/main/java/com/leeve/wsnewdemo/ws/test/testService.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.leeves.com/ws"
           targetNamespace="http://webservice.leeves.com/ws" elementFormDefault="qualified">

    <xs:element name="testService">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reqMsg" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="testServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resMsg" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>